img {height: 200px; width: 200px; }
h1 {color: purple; font-family: sans-serif; font-size: 38px; text-align: center;}
.info_personal {background-color: #ff7f8e; font-family: Arial, Helvetica, sans-serif; padding: 30px; margin: 400px;}
h2 {text-align: center;}
